* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.destinazioni {
    border: 2px solid black;
}

.citta {
    position: relative;
    height: 100vh;
    width: 100%;
}
#newyork {
    background-image: url("../img/newyorkfoto.jpg");
    background-size: cover;
}
#singapore {
    background-image: url("../img/singaporefoto.jpg");
    background-size: cover;
}
#tokyo {
    background-image: url("../img/tokyofoto.jpg");
    background-size: cover;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.layover {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 240, 240, 0.3);
    position: absolute;
    left: 0;
    top: 0;
}
